<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/sass.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="../index.html"><img src="../img/Logo Fcl Sin Fondo.png" alt="Logo FutCoinsLatam"></a>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="buy.html">Buy</a></li>
                <li><a href="sell.html">Sell</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <button class="menu-button">&#9776;</button>
        </nav>
    </header>
    <main>
        <section class="about-section">
            <div class="about-content">
                <h2>About Us</h2>
                <p>We are FutCoinsLatam, a website dedicated to the buying and selling of FIFA coins. 
                We have been in business since 2017 and have consistently distinguished ourselves with our speed and the quality of our service.
                We were among the pioneers in this industry, and undoubtedly, we are the best.</p>
                <p>You can find us on Instagram as <a href="https://www.instagram.com/futcoinslatam/" target="_blank">@FutCoinsLatam</a> and give us a follow.</p>
           </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 FutCoinsLatam</p>
    </footer>
    <script src="../js/script.js"></script>

</body>
</html>
