<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/sass.css">
</head>
<body>
    <header>
    <nav class="navbar">
        <a href="../index.html"><img src="../img/Logo Fcl Sin Fondo.png" alt="Logo FutCoinsLatam"></a>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="buy.html">Buy</a></li>
            <li><a href="sell.html">Sell</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <button class="menu-button">&#9776;</button>
    </nav>
    </header>
    <main>
        <div id="product-container">
            <div class="product">
              <img src="../img/monedas fifa .jpg" alt="Producto 1">
              <h2>100k</h2>
              <p>100.000 Coins</p>
              <span>$10</span>
              <button class="buy-button">Buy
              </button>
            </div>
            <div class="product">
              <img src="../img/monedas fifa .jpg" alt="Producto 2">
              <h2>200k</h2>
              <p>200.000 Coins</p>
              <span>$20</span>
              <button class="buy-button">Buy
              </button>
            </div>
            <div class="product">
              <img src="../img/monedas fifa .jpg" alt="Producto 3">
              <h2>300k</h2>
              <p>300.000 Coins</p>
              <span>$30</span>
              <button class="buy-button">Buy
              </button>
            </div>
            <div class="product">
              <img src="../img/monedas fifa .jpg" alt="Producto 4">
              <h2>400k</h2>
              <p>400.000 Coins</p>
              <span>$40</span>
              <button class="buy-button">Buy
              </button>
            </div>
            <div class="product">
              <img src="../img/monedas fifa .jpg" alt="Producto 5">
              <h2>500k</h2>
              <p>500.000 Coins</p>
              <span>$48</span>
              <button class="buy-button">Buy
              </button>
            </div>
            <div class="product">
              <img src="../img/monedas fifa .jpg" alt="Producto 6">
              <h2>600k</h2>
              <p>600.000 Coins</p>
              <span>$57</span>
              <button class="buy-button">Buy
              </button>
            </div>
            <div class="product">
              <img src="../img/monedas fifa .jpg" alt="Producto 7">
              <h2>800k</h2>
              <p>800.000 Coins</p>
              <span>$76</span>
              <button class="buy-button">Buy
              </button>
            </div>
            <div class="product">
              <img src="../img/monedas fifa .jpg" alt="Producto 8">
              <h2>900k</h2>
              <p>900.000 Coins</p>
              <span>$85</span>
              <button class="buy-button">Buy
              </button>
            </div>
            <div class="product">
              <img src="../img/monedas fifa .jpg" alt="Producto 9">
              <h2>1.000k</h2>
              <p>1.000.000 Coins</p>
              <span>$94</span>
              <button class="buy-button">Buy
              </button>
            </div>
          </div>
    </main>
    <footer>
        <p>&copy; 2023 FutCoinsLatam</p>
    </footer>
    <script src="../js/script.js"></script>

</body>
</html>
