<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/sass.css">
</head>
<body>
    <header>
    <nav class="navbar">
        <a href="../index.html"><img src="../img/Logo Fcl Sin Fondo.png" alt="Logo FutCoinsLatam"></a>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="buy.html">Buy</a></li>
            <li><a href="sell.html">Sell</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <button class="menu-button">&#9776;</button>
    </nav>
    </header>
    <main>
    <div class="form-contacto">
        <h2>Contact Us</h2>
        <form action="#" method="post">
            <div class="form-group">
                <label for="nombre">Name:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="mensaje">Message:</label>
                <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
    </main> 
    <footer>
        <p>&copy; 2023 FutCoinsLatam</p>
    </footer>
    <script src="../js/script.js"></script>

</body>
</html>